example-search/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule FWS Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->


<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books/1.0/mule-quickbooks.xsd">
        
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    
    
    <!--<quickbooks:config consumerKey="qyprdjjAVqbMjp3iQHH2SutYSm2min"
        consumerSecret="6I5mTDGjthIeIWJm6iKx7Q4jAihKFd1yvFvkMi3B"
        realmId="212879793">
        
    </quickbooks:config>-->
    <quickbooks:config consumerKey="${consumerKey}"
        consumerSecret="${consumerSecret}"
        realmId="${realmId}">
        
    </quickbooks:config>

    <flow name="GetProfileByUrl">
        <description>Retrieves a single customer given its ID</description>
        <http:inbound-endpoint host="localhost" port="9091" path="getProfileByUrl"/>
        <quickbooks:get-object type="CUSTOMER">
            <quickbooks:id ref="#[header:inbound:idCustomerValue]"/>
        </quickbooks:get-object>
        <scripting:component>
            <scripting:script engine="groovy">
                <![CDATA[        
                return    
""" 
Customer:  ${payload[0].id.value}
  Given Name: ${payload[0].givenName}
  Middle Name: ${payload[0].middleName}
  Family Name: ${payload[0].familyName}
  Gender: ${payload[0].gender.value}
""".toString();       
                ]]>
            </scripting:script>
        </scripting:component>
    </flow>
    
    <flow name="SearchListOfCustomers">
        <description>Retrieves the list of customers that pass the filter successfully</description>
        <http:inbound-endpoint host="localhost" port="9091" path="searchListOfCustomers" />
        <quickbooks:find-objects type="CUSTOMER">
            <quickbooks:filter ref=#[header:inbound:filter]"></quickbooks:filter>
            <quickbooks:sort ref="#[header:inbound:sort]"></quickbooks:sort>
        </quickbooks:find-objects>
        <scripting:component>
            <scripting:script engine="groovy">
                <![CDATA[        
                return payload.collect({ x ->   
""" 
Customer:  ${x.id.value}
  Given Name: ${x.givenName}
  Middle Name: ${x.middleName}
  Family Name: ${x.familyName}
  Gender: ${x.gender.value}
"""
                })
                .join("");       
                ]]>
            </scripting:script>
        </scripting:component>
    </flow>
    
    <flow name="GetAllCustomers">
        <description>Retrieves the full list of customers</description>
        <http:inbound-endpoint host="localhost" port="9091" path="getAllCustomers" />
        <quickbooks:find-objects type="CUSTOMER" />
        <scripting:component>
            <scripting:script engine="groovy">
                <![CDATA[        
                return payload.collect({ x ->   
""" 
Customer:  ${x.id.value}
  Given Name: ${x.givenName}
  Middle Name: ${x.middleName}
  Family Name: ${x.familyName}
  Gender: ${x.gender.value}
"""
                })
                .join("");       
                ]]>
            </scripting:script>
        </scripting:component>
    </flow>
</mule>
