example-creation-and-retrieve/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule FWS Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->


<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books/1.0/mule-quickbooks.xsd">
        
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    
    
   <quickbooks:config consumerKey="qyprdjjAVqbMjp3iQHH2SutYSm2min"
        consumerSecret="6I5mTDGjthIeIWJm6iKx7Q4jAihKFd1yvFvkMi3B"
        realmId="212879793">
        
        </quickbooks:config>
        

     <flow name="CreateCustomer">
        <description>Creates a new Customer and returns it.</description>
        <http:inbound-endpoint host="localhost" port="9091" path="quickbooks-demo-create-customer"/>
        <quickbooks:create-customer name="John Doe"
                                    givenName="John"
                                    middleName="Bill"
                                    familyName="Doe"
                                    suffix="Sr"
                                    dBAName="Mint"
                                    showAs="J Doe"
                                    salesTaxCodeId="5">
            <quickbooks:web-site>
                
            </quickbooks:web-site>
            <quickbooks:email ref="#[variable:email]"></quickbooks:email>
            <quickbooks:phone ref="#[variable:phone]"></quickbooks:phone>
            <quickbooks:address ref="#[variable:address]"></quickbooks:address>
            <quickbooks:sales-term-id ref="#[variable:salesTermId]"></quickbooks:sales-term-id>
        </quickbooks:create-customer>
    </flow>
    
</mule>
