example-creation-and-retrieve/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule FWS Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->


<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books http://repository.mulesoft.org/releases/org/mule/modules/mule-module-quick-books/1.0/mule-quickbooks.xsd
        http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/1.0/mule-mongo.xsd">
        
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    
    
<!--     <quickbooks:config consumerKey="qyprdjjAVqbMjp3iQHH2SutYSm2min"
        consumerSecret="6I5mTDGjthIeIWJm6iKx7Q4jAihKFd1yvFvkMi3B"
        realmId="212879793">
        
    </quickbooks:config> -->
    
    <quickbooks:config consumerKey="${quickbooksConsumerKey}"
        consumerSecret="${quickbooksConsumerSecret}"
        realmId="${quickbooksRealmId}">
        
    </quickbooks:config>
        

    <flow name="CreateAccounts">
        <description>Create customers from a mongo database.</description>
        <http:inbound-endpoint host="localhost" port="9091" path="demoCreateAccounts"/>
        <mongo:find-objects collection="">
        <collection-splitter/>
        <quickbooks:create-account accessToken="${quickbooksAccessToken}"
                                   accessTokenSecret="${quickbooksAccessTokenSecret}"
                                   name="#[groovy:payload['name']]"
                                   desc="#[groovy:payload['desc']]"
                                   subtype="#[groovy:payload['subtype']]"
                                   acctNum="#[groovy:payload['acctNum']]"
                                   openingBalance="#[groovy:payload['openingBalance']]"/>
        
    </flow>
    
</mule>
